        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
<p>Get to 24 is a web application version of the 24 Game. It was coded by Randall Reed, Jr., a passionate 24 Game competitor, while a student at the <a href="http://flatironschool.com" target=_blank>Flatiron School</a> in New York City.</p>

<p>To learn more about the process, see <a href="http://randallreedjr.com/blog/categories/24game/" target=_blank>Randall’s Blog</a>.</p>

<p>To learn more about the game, visit the <a href="http://en.wikipedia.org/wiki/24_Game" target=_blank>wikipedia page.</a></p>

<p>To see what else Randall is working on, check out his <a href="https://github.com/randallreedjr" target=_blank>github profile.</a></p>
