<html>
  <head>
    <title>Get to 24!</title>
  </head>
  <body>
    <h1>Welcome to Get to 24!</h1>
    <div>
      <div><a href="/problem">Give me problems</a></div>
      <div>Show me solutions</div>
    </div>
    <div><%= problem %></div>
    <div><%= solution %></div>
    CORRECT!
  </body>
</html>