    <div><%= problem %></div>
    <div><%= solution %> = <%= last_answer %></div>
    <div>Sorry, that's not right.</div>
     <form action="/problem" method="POST">
      <input type="hidden" name="problem" value="<%= problem %>">
      <input type="submit" value="Try again!" class="tryagain"> 
    </form>
    <div class="skip"><a href="/problem">Skip!</a></div>
