        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
      <div class="problem"><a href="/problem">Give me problems</a></div>
      <div class="solution"><a href="/solve">Show me solutions</a></div>
