<html>
  <head>
    <title>Get to 24!</title>
  </head>
  <body>
    <h1>Welcome to Math24!</h1>
    <h2>What would you like to do?</h2>
    <div>
      <div>Give me problems</div>
      <div>Show me solutions</div>
    </div>
  </body>
</html>