        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/problem">Play</a></li>
            <li><a href="/solve">Solutions</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
      <h2>How to Play</h2>
      <p>Use all four numbers exactly one time, in conjunction with the operations of addition (+), subtraction (-), multiplication (*), and division (/), to yield a result of <strong><em>24</em></strong>.</p></br>
      <div class="green mybutton"><a href="/problem">Give me problems</a></div>
      <div class="red mybutton"><a href="/solve">Show me solutions</a></div>
