<html>
  <head>
    <title>Get to 24!</title>
    <link rel='stylesheet' href='/css/style.css' type='text/css'>
  </head>
  <body>
    <h1><a href="/">Welcome to Get to 24!</a></h1>
    <div>
      <div><a href="/problem">Give me problems</a></div>
      <div>Show me solutions</div>
    </div>
    <%= yield %>
  </body>
</html>