<html>
  <head>
    <title>Get to 24!</title>
    <link rel='stylesheet' href='/css/style.css' type='text/css'>
  </head>
  <body>
    <h1><a href="/">Welcome to Get to 24!</a></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>