    <div><%= problem %></div>
    <form action="/check" method="POST">
      <input type="hidden" name="problem" value="<%= problem %>">
      <input type="text" name="solution">
      <input type="submit">
    </form>