            <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/problem">Play</a></li>
            <li class="active"><a href="/solve">Solutions</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
    <div class="numbers"><%= problem %></div>
    <div class="numbers"><%= solution %>!</div>
    <div>
      <div class="green mybutton"><a href="/problem">Give me problems</a></div>
      <div class="red mybutton"><a href="/solve">Show me solutions</a></div>
    </div>