            <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/problem">Play</a></li>
            <li class="active"><a href="/solve">Solutions</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
      <div class="jumbotron">
    <div>Put in four numbers, separated by spaces (# # # #) or commas (#,#,#,#)</div>
    <form action="/solution" method="POST">
      <input type="text" name="problem">
      <input type="submit" value="Solve" class="green mybutton">
    </form>
    <% if invalid %>
    <div>Invalid input, please try again</div>
    <% end %>