.formbutton {
  font: 14px Arial;
  color: black;
  text-decoration: none;
  cursor: pointer; 
  border: 1px solid black;
  padding: 10px;
  display: inline;
}

.red {
  background: tomato;
}

.green {
  background: lightgreen;
}

.yellow {
  background: yellow;
}

.mybutton {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

.mybutton a {
  text-decoration: none;
  color: black;
}

.inputbox {
  border: 5px solid black;
  font-size: 48px;
  padding: 10px;
  display: block;
  margin: 5px 0;
}

.numbers {
  font-size: 32px;
}

.correct {
  color: green;
  margin-bottom: 15px;
}

.incorrect {
  color: red;
}

#instructions {
  font-size: 20px;
  font-style: italic;
  display: inline-block;
  padding-bottom: 20px;
}